html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.body {
  font-family: "Times New Roman", serif;
}

.title {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(91, 91, 250);
  font-size: 80px;
}

.home{
    font-size: 40px;
}

.image-container{
    
}
